*, 
*::before, 
*::after {
	box-sizing: border-box;
}

body {
	background-color: #ccc;
	font-family: Arial, Helvetica, sans-serif;

}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem;
}

.btn {
	display: inline-block;
	width: 186px;
	height: 77px;
	position: relative;
	border: none;
	outline: none;
	font-size: 1.4rem;
	border-radius: 1px;
	background-color: #fff;
	cursor: pointer;
	z-index: 1;
	margin: 1rem;
	transition: 0.5s;
}

.btn-effect-1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #343434;
	border-radius: 1px;
	z-index: -1;
	transition: width 0.25s ease-in-out; 
}

.btn-effect-1:hover {
	color: #fff;
}
	
.btn-effect-1:hover::before {
	width: 100%;
}


/* Button Effect #9 */

.btn-effect-9 {
	position: relative;
	transform-style: preserve-3d;
	border-radius: 1px;
}

.btn-effect-9 .top-face,
.btn-effect-9 .front-face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-in-out;
}

.btn-effect-9 .front-face {
	transform: translateZ(38.6px);
	background-color: #fff;
}

.btn-effect-9 .top-face{
	background-color: #343434;
	color: #f3f3f3;
	transform: rotateX(90deg) translateZ(38.6px);
}

.btn-effect-9:hover {
	transform: rotateX(-90deg);
	transition: 0.5s ease-in-out;
}
